
<div class="page-header">
	<h1 class="text-info text-center" style="font-size: 3.8em;">Booky's registered users</h1>
	<h3 class="text-muted text-center">See someone you know?</h3>
</div>

<div class="table-responsive col-md-6 col-md-offset-3">
		<table class="table table-hover table-condensed">
<thead>
	<tr>
		<th>Email</th>
		<th>Id</th>
	</tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
	   <td><%= user.email %></td>
	   <td><%= user.username %></td>
  </tr>
</tbody>
<% end %>

</table>
</div>
<div class="row">
	<div class="col-md-5 col-md-offset-5">
		<p><%= link_to "Back to Bookmarks", bookmarks_path, class: "btn btn-primary" %></p>
	</div>
</div>




